.task strong {
    color: #d00;
}

.task small {
    display:block;
    margin-top:5px;
    color:#555;
}


.notes {
    margin-top:20px;
    padding:15px;
    background:#fff3cd;
    border-radius:8px;
}
